<!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
<!--[if lt IE 9]>
      <script src="js/vendor/html5shiv.js"></script>
      <script src="js/vendor/respond.min.js"></script>
    <![endif]-->
{% extends 'base/base.html' %}

{% block main %}
<div class="container">
    <h2>发布换课信息</h2>
</div>
<!-- /.container -->

<form class="container well" role="form" action="{% url 'exchange:create_exchange' %}" method="post">
{% csrf_token %}
    <div class="form-group">
        <div class="input-group">
            <label class="control-label input-group-addon" for="lessonIn">计划换出的课程</label>
            <select data-toggle="select" name="lessonOut" class="select select-primary select-block mbl form-control">
                {% for lesson in lessons %}
                <option value="{{ lesson.kcmc }}">{{ lesson.kcmc }}</option>
                {% empty %}
                <option value="">你没有可换出的课程=。=</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="form-group">
        <div class="input-group">
            <label class="control-label input-group-addon" for="lessonOut">计划得到的课程</label>
            <input type="text" class="form-control" name="lessonIn" placeholder="请输入你希望得到的课程名称">
        </div>
    </div>
    <div class="form-group">
        <div class="input-group">
            <label class="input-group-addon">电话</label>
            <input type="number" class="form-control" name="phone" placeholder="请输入您的电话号码。">
        </div>
    </div>
    <div class="form-group">
        <div class="input-group">
            <label class="input-group-addon">Email</label>
            <input type="email" class="form-control" name="email" placeholder="请输入您的邮箱地址。">
        </div>
    </div>
    <div class="form-group">
        <div class="input-group">
            <label class="input-group-addon">截止日期</label>
            <input type="date" class="form-control" name="deadline" placeholder="请输入信息的最后有效日期。"></input>
        </div>
    </div>
    <button type="submit" class="form-control">发布</button>
</form>
{% endblock main %}
