<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=0" />
    <title>{% block title %}{% endblock %}</title>
    <!-- <link rel="shortcut icon" type="image/icon" href="/base/static/images/favo.ico" /> -->
    {% load staticfiles %}
    <link rel="stylesheet" type='text/css' href="{% static 'css/base.css' %}" />
    {% block import %}{% endblock %}
</head>

<body>
    <header>{% block header %}{% endblock %}</header>
    <nav>{% block nav %}{% endblock %}</nav>
    <main>{% block main %}hello{% endblock %}</main>
    <footer>{% block footer %}{% endblock %}</footer>
</body>
</html>