
.totle {
  background-image: url('../images/wood_bg.jpg');
  background-repeat: no-repeat;
  height:650px;   
  background-size: cover;
}
.name {
  padding-top: 30px;
}
h4 {
  margin: 0 0 50px 50px;
}

table {
  margin: auto;
}
table th {
  font-size: 30px;
  padding: 20px;
  text-align: center;
}
table td {
  font-size: 19px;
  text-align: center;
}

div.grade-panel {
    width: 80%;
    margin: 30px 10%;
    border-color: rgb(52,73,94);
    border-width: 6px;
    border-radius: 10px;
}

.grade-panel .panel-heading {
    background-color: rgb(52,73,94);
}

.grade-panel .panel-heading p {
    margin: 0;
    font-weight: bolder;
}

.grade-panel form {
    display: inline-block;
}