{% extends "base/base.html" %}

{% block title %}首页{% endblock %}

{% block import %}
{% load staticfiles %}
<link href="{% static 'base/css/index.css' %}" rel="stylesheet" type="text/css">
{% endblock import %}

{% block main %}
<div class="index-image">
    <img src="{% static 'base/images/background2.png' %}" alt="中山大学">
</div>
<div class="index-icon row">
    <div class="function-icon col-md-4">
        <a href="{% url 'lesson:lessons_list' %}">
            <img src="{% static 'base/images/icon-lesson.png' %}">
            <p>课程统计</p>
        </a>
    </div>
    <div class="function-icon col-md-4">
        <a href="{% url 'exchange:all_exchanges' %}">
            <img src="{% static 'base/images/icon-exchange.png' %}">
            <p>交换课程</p>
        </a>
    </div>
    <div class="function-icon col-md-4">
        <a href="#">
            <img src="{% static 'base/images/icon-personal.png' %}">
            <p>个人成绩</p>
        </a>
    </div>
</div>
{% endblock main %}
