{% extends 'base/base.html' %}

{% block import %}
{% load staticfiles %}
<link type="text/css" rel="stylesheet" href="{% static 'base/css/login.css' %}">
{% endblock import %}

{% block nav %}{% endblock nav %}

{% block main %}
<div class="login" style="background-size: 1350px 778px;">
    <div class="login-screen">
        <div class="login-icon">
            <img src="{% static 'base/images/login.png' %}" alt="Welcome to CURRICULUM" />
            <h4>Welcome to <small>CURRICULUM</small></h4>
        </div>

        <div class="login-form">
            <div class="form-group">
                <form>
                    <input type="text" class="form-control login-field" value="" placeholder="请输入教务系统账号" id="login-name" />
                </form>
                <label class="login-field-icon fui-user" for="login-name"></label>
            </div>
            <div class="form-group">
                <form>
                    <input type="password" class="form-control login-field" value="" placeholder="请输入密码" id="login-pass" />
                </form>
                <label class="login-field-icon fui-lock" for="login-pass"></label>
            </div>
            <div class="form-group">
                <form>
                    <input type="yanzhengma" class="form-control login-field" value="" placeholder="请输入验证码" id="login-pass" />
                </form>

                <label class="login-field-icon" for="login-pass"><img src="http://uems.sysu.edu.cn/jwxt/jcaptcha"/></label>
            </div>
            <a class="btn btn-primary btn-lg btn-block" href="#">登陆</a>
            <p class="login-link">请使用教务系统账号登陆</a>
    </div>
</div>
  </div>
{% endblock main%}
