div.row div{
  display: inline;
}
.input_text {
  margin-left: 50px;
}
.search {
  margin-left: 30px;
  width: 200px;
}
table {
  margin: auto;
}
table th {
  font-size: 26px;
  padding-left: 5px;
  padding-right: 5px;
  text-align: center;
}
table td {
  text-align: center;
  max-width: 180px;
  padding-left: 5px;
  padding-right: 5px;
}

.lesson-panel {
  width: 80%;
  margin: 30px 10%;
  border-color: rgb(52,73,94);
  border-width: 6px;
  border-radius: 10px;
}

.lesson-panel .panel-heading {
  background-color: rgb(52,73,94);
}

.pagination {
  width: 30%;
  margin: 10px 35%;
  text-align: center;
}
