#belowPart {
    width: 85%;
    margin: auto;
}

.reply-btn {
    float:right; 
    position: relative;
    top: -5px;
}

.commentArea {
    width:100%;
}

#file-upload-iframe,
#comment-iframe {
    display: none;
}