<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Flat UI Free 101 Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Loading Bootstrap -->
    <link href="css/vendor/bootstrap.min.css" rel="stylesheet">

    <!-- Loading Flat UI -->
    <link href="css/flat-ui.min.css" rel="stylesheet">

    <link rel="shortcut icon" href="img/favicon.ico">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
    <!--[if lt IE 9]>
      <script src="js/vendor/html5shiv.js"></script>
      <script src="js/vendor/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>

      <nav class="navbar navbar-inverse navbar-static-top" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-5">
            <span class="sr-only">Toggle navigation</span>
          </button>
          <a class="navbar-brand" href="#">课霸</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbar-collapse-5">
          <ul class="nav navbar-nav">
            <li><a href="#">Courses</a></li>
            <li class="active"><a href="#">Grades</a></li>
            <li><a href="#">About Us</a></li>
          </ul>
          <form class="navbar-form navbar-left" action="#" role="search">
            <div class="form-group">
              <div class="input-group">
                <input class="form-control" id="navbarInput-01" type="search" placeholder="Search">
                <span class="input-group-btn">
                  <button type="submit" class="btn"><span class="fui-search"></span></button>
                </span>
              </div>
            </div>
          </form>
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">User <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#">Login</a></li>
                <li><a href="#">Register</a></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li><a href="#">Separated link</a></li>
              </ul>
            </li>
            <li><a href="#"><span class="visible-sm visible-xs">Settings<span class="fui-gear"></span></span><span class="visible-md visible-lg"><span class="fui-gear"></span></span></a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </nav>


    <div class="container">
        <h2>浏览换课信息</h2>

        <div><!-- Exchange info list -->
          <div class="panel panel-primary">
            <div class="panel-heading ">
              <div class="h6 text-left">System Analysis and Design</div>
              <div class="text-right">2015-06-01</div>
            </div>
            <div class="panel-body">
              <div class="text-left">I'd like to exchange this course with an interesting one.</div>
              <div class="text-right">PML</div>
            </div>
          </div>
          <div class="panel panel-primary">
            <div class="panel-heading">
              <div class="h6 text-left">Software Testing</div>
              <div class="text-right">2015-06-01</div>
            </div>
            <div class="panel-body">
              <div class="text-left">I don't wanna read PPTs any more.</div>
              <div class="text-right">SXD</div>
            </div>
          </div>
          <div class="panel panel-primary">
            <div class="panel-heading">
              <p class="h6 text-left">Data Mining</p>
              <p class="text-right">2015-06-01</p>
            </div>
            <div class="panel-body">
              <div class="text-left">Visit Lanxiang, Shangdong in search of the best mining engineers ever.</div>
              <div class="text-right">PY</div>
            </div>
          </div>
    </div>
    <!-- /.container -->

  <div class="container">
    <div class="pagination pagination-success">
      <ul>
        <li class="previous"><a href="#fakelink" class="fui-arrow-left">前页</a></li>
        <li class="active"><a href="#fakelink">1</a></li>
        <li><a href="#fakelink">2</a></li>
        <li><a href="#fakelink">3</a></li>
        <li><a href="#fakelink">4</a></li>
        <li><a href="#fakelink">5</a></li>
        <li><a href="#fakelink">6</a></li>
        <li><a href="#fakelink">7</a></li>
        <li><a href="#fakelink">8</a></li>
        <li><a href="#fakelink">9</a></li>
        <li><a href="#fakelink">10</a></li>
        <li class="pagination-dropdown dropdown">
          <a href="#fakelink" class="dropdown-toggle" data-toggle="dropdown">
            <i class="fui-triangle-down"></i>
          </a>
          <ul class="dropdown-menu">
            <li><a href="#fakelink">10–20</a></li>
            <li><a href="#fakelink">20–30</a></li>
            <li><a href="#fakelink">40–50</a></li>
          </ul>
        </li>
        <li class="next"><a href="#fakelink" class="fui-arrow-right">后页</a></li>
      </ul>
    </div>
  </div>

    <!-- jQuery (necessary for Flat UI's JavaScript plugins) -->
    <script src="js/vendor/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/vendor/video.js"></script>
    <script src="js/flat-ui.min.js"></script>
    <script src="js/application.js"></script>

    <script>
      $(document).ready(function(){
        $('select[name="inverse-dropdown"], select[name="inverse-dropdown-optgroup"], select[name="inverse-dropdown-disabled"]').select2({dropdownCssClass: 'select-inverse-dropdown'});

        $('select[name="searchfield"]').select2({dropdownCssClass: 'show-select-search'});
        $('select[name="inverse-dropdown-searchfield"]').select2({dropdownCssClass: 'select-inverse-dropdown show-select-search'});
        $('select[name="course"]').select2({dropdownCssClass: 'select-inverse-dropdown show-select-search'});
      });
    </script>
  </body>
</html>
