.index-image {
    width: 100%;
    border: 20px solid rgb(52,73,94);
    border-top: none;
}

.index-image img {
    width: 100%;
    height: 400px;
}

.index-icon {
    width: 100%;
    margin-top: 30px;
}

.function-icon a img {
    width: 20%;
    margin: 0 40%;
}

.function-icon a p {
    margin-top: 10px;
    text-align: center;
    transition: all 0.5s;
    font-weight: bolder;
}

.function-icon a:hover p {
    color: rgb(52,73,94);
}