<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Create exchange</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Loading Bootstrap -->
    <link href="css/vendor/bootstrap.min.css" rel="stylesheet">

    <!-- Loading Flat UI -->
    <link href="css/flat-ui.min.css" rel="stylesheet">

    <link rel="shortcut icon" href="img/favicon.ico">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
    <!--[if lt IE 9]>
      <script src="js/vendor/html5shiv.js"></script>
      <script src="js/vendor/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>

    <nav class="navbar navbar-inverse navbar-static-top" role="navigation" id="base-nav">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-5">
              <span class="sr-only">Toggle navigation</span>
          </button>
          <a class="navbar-brand" href="{% url 'base:index' %}">课霸</a>
      </div>
  
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="navbar-collapse-5">
          <ul class="nav navbar-nav">
              <li><a href="{% url 'lesson:lessons_list' %}">所有课程</a></li>
              <li><a href="{% url 'exchange:all_exchanges' %}">换课信息</a></li>
              <li><a href="#">About Us</a></li>
          </ul>
          <form class="navbar-form navbar-left" action="#" role="search">
              <div class="form-group">
                  <div class="input-group">
                      <input class="form-control" id="navbarInput-01" type="search" placeholder="Search">
                      <span class="input-group-btn">
                          <button type="submit" class="btn"><span class="fui-search"></span></button>
                      </span>
                  </div>
              </div>
          </form>
          <ul class="nav navbar-nav navbar-right">
              <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ user.username }}<b class="caret"></b></a>
                  <ul class="dropdown-menu">
                      <li><a href="#">我的成绩</a></li>
                      <li><a href="#">换课记录</a></li>
                      <li><a href="#">选课结果</a></li>
                      <li class="divider"></li>
                      <li><a href="{% url 'base:logout' %}">注销</a></li>
                  </ul>
              </li>
          </ul>
      </div><!-- /.navbar-collapse -->
    </nav>

    <div class="container">
        <h2>发布换课信息</h2>
    </div>
    <!-- /.container -->

    <form class="container well" role="form">
      <div class="form-group">
        <div class="input-group">
        <label class="control-label input-group-addon" for="lessonIn">计划换出的课程</label>
        <select data-toggle="select" name="lessonIn" class="select select-primary select-block mbl form-control">
          <option value="SystemAnalysisDesign">SystemAnalysisDesign</option>
          <option value="SoftwareTesting">SoftwareTesting</option>
          <option value="DataMining">DataMinging</option>
        </select>
        </div>
      </div>
      <div class="form-group">
        <div class="input-group">
        <label class="control-label input-group-addon" for="lessonOut">计划得到的课程</label>
        <select data-toggle="select" name="lessonOut" class="select select-primary select-block mbl form-control">
          <option value="SystemAnalysisDesign">SystemAnalysisDesign</option>
          <option value="SoftwareTesting">SoftwareTesting</option>
          <option value="DataMining">DataMinging</option>
        </select>
        </div>
      </div>
      <div class="form-group">
        <div class="input-group">
          <label class="input-group-addon">电话</label>
          <input type="number" class="form-control" name="phone" placeholder="请输入您的电话号码。"></input>
        </div>
      </div>
      <div class="form-group">
        <div class="input-group">
          <label class="input-group-addon">Email</label>
          <input type="email" class="form-control" name="email" placeholder="请输入您的邮箱地址。"></input>
        </div>
      </div>
      <div class="form-group">
        <div class="input-group">
          <label class="input-group-addon">截止日期</label>
          <input type="date" class="form-control" name="deadline" placeholder="请输入信息的最后有效日期。"></input>
        </div>
      </div>
      <button type="submit" formaction="create" class="form-control">发布</button>
    </form>


    <!-- jQuery (necessary for Flat UI's JavaScript plugins) -->
    <script src="js/vendor/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/vendor/video.js"></script>
    <script src="js/flat-ui.min.js"></script>
    <script src="js/application.js"></script>

    <script>
      $(document).ready(function(){
        $('select[name="inverse-dropdown"], select[name="inverse-dropdown-optgroup"], select[name="inverse-dropdown-disabled"]').select2({dropdownCssClass: 'select-inverse-dropdown'});

        $('select[name="searchfield"]').select2({dropdownCssClass: 'show-select-search'});
        $('select[name="inverse-dropdown-searchfield"]').select2({dropdownCssClass: 'select-inverse-dropdown show-select-search'});
        $('select[name="lessonOut"], select[name="lessonIn"]').select2({dropdownCssClass: 'select-inverse-dropdown show-select-search'});
      });
    </script>
  </body>
</html>
