{% extends "base/base.html" %}

{% block import %}
{% load staticfiles %}
<link href="{% static 'lesson/css/lessons_list.css' %}" rel="stylesheet" type="text/css">
{% endblock import %}

{% block main %}
<div class="panel panel-primary lesson-panel">
    <div class="panel-heading">
        <h6>课程查询</h6>
    </div>
    <div class="panel-body">
        {% if lessons %}
        <div class="table">
            <table>
                <tr>
                    <th>课程名称</th>
                    <th>任课老师</th>
                    <th>课程类别</th>
                    <th>培养类别</th>
                    <th>所属校区</th>
                    <th>所属学院</th>
                    <th>推荐程度</th>
                </tr>
                {% for lesson in lessons %}
               <tr>
                    <td><a href="{% url 'lesson:lesson_detail' lesson.id %}">{{ lesson.title }}</a></td>
                    <td>{{ lesson.teacher|truncatechars:18|default:'无教师信息' }}</td>
                    <td>{{ lesson.get_type_display }}</td>
                    <td>{{ lesson.get_teachType_display }}</td>
                    <td>{{ lesson.get_campus_display|default:'无校区信息' }}</td>
                    <td>{{ lesson.school.name }}</td>
                    <td>{{ lesson.get_evaluation }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
        {% else %}
        <p>System Error: There are no lessons in databases.</p>
        {% endif %}
        <div class="pagination">
            <span class="step-links">
                {% if lessons.has_previous %}
                    {% if search %}
                    <a href="?p={{ search }}&page={{ lessons.previous_page_number }}">previous</a>
                    {% else %}
                    <a href="?page={{ lessons.previous_page_number }}">previous</a>
                    {% endif %}
                {% endif %}

                <span class="current">
                    Page {{ lessons.number }} of {{ lessons.paginator.num_pages }}.
                </span>

                {% if lessons.has_next %}
                    {% if search %}
                    <a href="?p={{ search }}&page={{ lessons.next_page_number }}">next</a>
                    {% else %}
                    <a href="?page={{ lessons.next_page_number }}">next</a>
                    {% endif %}
                {% endif %}
            </span>
        </div>
    </div>
</div>
{% endblock main %}
